.section {
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.container {
  display: flex;
  gap: 36px;
}

.column {
  min-width: 272px;
  display: flex;
  flex-direction: column;
}

.list {
  max-height: 320px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
}

.shadow {
  text-shadow: 0 0 16px rgba(51, 51, 255, 0.25), 0 0 8px rgba(51, 51, 255, 0.25), 0 4px 32px rgba(51, 51, 255, 0.5);
}
