.section {
  width: 600px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.default {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.item {
  width: 536px;
  height: 80px;
  box-sizing: border-box;
  padding: 16px 24px;
  display: inline-block;
  border-radius: var(--common-border-radius-s);
  background: var(--background-element);
}

.item_top {
  border-radius: var(--top-constructor-item-border-radius);
}

.item_bottom {
  border-radius: var(--bottom-constructor-item-border-radius);
}

.checkout {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 40px;
}

.button {
  max-width: 215px;
  width: 100%;
}
