.section {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.nav {
  width: 320px;
  display: flex;
  flex-direction: column;
}

.link {
  min-width: 200px;
  box-sizing: border-box;
  padding: 16px 40px 16px 0;
  text-decoration: none;
  background-color: var(--background-alt);
  box-shadow: inset 0 -1px 0 #2F2F37;
  color: var(--text-inactive-color);
  transition: var(--common-transition);
}

.link:hover {
  color: var(--text-primary-color);
}

.link_type_current {
  color: var(--text-primary-color);
  box-shadow: inset 0 -2px 0 #4C4CFF;
  pointer-events: none;
}

.form {
  width: 860px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
