.header {
  width: 100%;
  background-color: var(--background);
}

.nav {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.nav__group {
  flex: 1;
  display: flex;
  gap: 8px;
}

.nav__group_links {
  justify-content: flex-start;
}

.nav__group_logo {
  justify-content: center;
}

.nav__group_profile {
  justify-content: flex-end;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  border-radius: var(--common-border-radius);
  transition: var(--common-transition);
}

.link:hover {
  color: var(--text-primary-color);
  box-shadow: 0 0 16px 8px rgba(51, 51, 255, 0.25), 0 0 8px 8px rgba(51, 51, 255, 0.25);
  filter: drop-shadow(0px 4px 32px rgba(51, 51, 255, 0.5));
}

.link_type_current {
  color: var(--text-primary-color);
  pointer-events: none;
}

