.page {
  min-width: 1280px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.burger {
  height: 100%;
  display: flex;
  column-gap: 40px;
}

.profile {
  display: grid;
  grid-template-columns: 1fr fit-content(100%) 1fr;
  column-gap: 60px;
}
