.page {
  min-width: 1280px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
