.page {
  min-width: 1280px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.burger {
  height: 100%;
  display: flex;
  gap: 40px;
}

.login {
  display: flex;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
}
