.card {
  box-sizing: border-box;
  margin-right: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  border-radius: var(--common-border-radius-s);
  background: var(--background);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.04);
}

.card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.card__ingredients {
  margin: 0;
  padding: 0;
  display: flex;
  z-index: 0;
}

.list_item {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.ingredient_first {
  right: auto;
  z-index: -1;
}

.ingredient_second {
  right: 20%;
  z-index: -2;
}

.ingredient_third {
  right: 40%;
  z-index: -3;
}

.ingredient_fourth {
  right: 60%;
  z-index: -4;
}

.ingredient_fifth {
  right: 80%;
  z-index: -5;
}

.ingredient_sixth {
  right: 100%;
  z-index: -6;
}

.opacity {
  opacity: .5;
}

.more {
  position: absolute;
  left: -50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.link {
  color: var(--text-primary-color);
  text-decoration: none;
}
