.page {
  height: 100%;
  display: grid;
  grid-template-columns: 604px 592px;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "text text"
    "left right";
  column-gap: 60px;
  row-gap: 20px;
}

.text {
  grid-area: text;
  margin-top: 40px;
}

.left {
  grid-area: left;
  margin-bottom: 20px;
}

.right {
  grid-area: right;
  margin-bottom: 20px;
}

.scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

.empty {
  display: flex;
  opacity: 0.4;
}
