.image {
  position: relative;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 5px;
  border: 2px solid var(--colors-interface-accent);
  border-radius: 50%;
  background-color: var(--background-alt);
  object-fit: contain;
}
