.nav {
  width: 320px;
  display: flex;
  flex-direction: column;
}

.link {
  min-width: 200px;
  box-sizing: border-box;
  padding: 16px 40px 16px 0;
  text-decoration: none;
  background-color: var(--background-alt);
  color: var(--text-inactive-color);
  transition: var(--common-transition);
}

.link:hover {
  color: var(--text-primary-color);
}

.link_type_current {
  color: var(--text-primary-color);
  pointer-events: none;
}
