.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.button_primary {
  max-width: 196px;
  width: 100%;
}

.button_secondary {
  padding: 0;
}
