.section {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.tab {
  display: flex;
}

.scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

.section__error {
  width: 100%;
  height: 100%;
}
