.container {
  min-width: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load {
  margin-top: 174px;
  margin-bottom: 174px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.shadow {
  text-shadow: 0 0 16px rgba(51, 51, 255, 0.25), 0 0 8px rgba(51, 51, 255, 0.25), 0 4px 32px rgba(51, 51, 255, 0.5);
}
