.card {
  min-width: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load {
  margin-top: 174px;
  margin-bottom: 174px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.shadow {
  text-shadow: 0 0 16px rgba(51, 51, 255, 0.25), 0 0 8px rgba(51, 51, 255, 0.25), 0 4px 32px rgba(51, 51, 255, 0.5);
}

.done {
  position: relative;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.figure {
  position: fixed;
  display: block;
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation: transform 10s linear infinite;
}

.pentagon {
  background-image: url(../../../images/pentagon.svg);
}

.hexagon {
  background-image: url(../../../images/hexagon.svg);
}

.polygon {
  background-image: url(../../../images/polygon.svg);
}

@keyframes transform {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
